<div class="field">
    <label style="color: #006400">{{ label }}</label>
    <input *ngIf="type !== 'textarea'; else ngElse"
           [formControl]="control"
           [type]="type"
           style="color: #006400;"/>
    <ng-template #ngElse>
        <textarea
            [formControl]="control"
            style="color: #006400;"
            [rows]=rows
        ></textarea>
    </ng-template>

    <div *ngIf="showErrors" class="ui pointing red basic label">

        <p *ngIf="control.errors!['required']">
            Value is required
        </p>

        <p *ngIf="control.errors!['email']">
            Invalid email format
        </p>

        <p *ngIf="control.errors!['minlength']">
            Minimum  {{ control.errors!['minlength'].requiredLength }} characters
        </p>

        <p *ngIf="control.errors!['maxlength']">
            Maximum  {{ control.errors!['maxlength'].requiredLength }} characters
        </p>

        <p *ngIf="control.errors!['pattern']">
            Allowed: a-z, A-Z, 0-9 _ - .
        </p>

        <p *ngIf="control.errors!['usernameInUse']">
            Username is taken.
        </p>

        <p *ngIf="control.errors!['connectionError']">
            Connection error! Can't check username availability.
        </p>

    </div>
</div>
